app/views/stores/cart.html.erb
<%- title "Cart" %>
<%- description "The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers." %>

<section id="productCart">
	<header id="contentHeader">
		<h1>Store</h1>
		<nav class="sectionNavigation">
			<ul>
				<li>All prices include shipping!</li>
			</ul>
		</nav>
		<a href="/store" class="button">Continue shopping</a></p>
	</header>
	
	<div id="cartWrapper">
		<iframe src="http://korduroy.myshopify.com/cart" width="960" height="680" frameborder="none"></iframe>
		<p id="continueShopping"><a href="/store" class="button">Continue shopping</a></p>
	</div>
</section>

app/views/stores/cart.html.haml
- title "Cart"
- description "The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers."
%section#productCart
  %header#contentHeader
    %h1 Store
    %nav.sectionNavigation
      %ul
        %li All prices include shipping!
    %a.button{:href => "/store"} Continue shopping
  #cartWrapper
    %iframe{:frameborder => "none", :height => "680", :src => "http://korduroy.myshopify.com/cart", :width => "960"}
    %p#continueShopping
      %a.button{:href => "/store"} Continue shopping
