app/views/stores/index.html.erb
<%- title "Store" %>
<%- description "The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers." %>

<section id="hero" class="product">
	<header id="contentHeader">
		<h1>Store</h1>
		<nav class="sectionNavigation">
			<ul>
				<li><em>Yo!</em> All prices include shipping!</li>
			</ul>
		</nav>
	</header>
	
	<% if @products.blank? %>
		<h2>There are no products available.</h2>
	<% else %>
	
	<figure>
		<% if @hero.images.blank? %>
			<a href="/store/<%= @hero.id %>" class="featured"><img src="/assets/placeholder_store_large.jpg" alt="<%= @hero.title %>" class="product"></a>
		<% else %>
			<a href="/store/<%= @hero.id %>" class="featured"><img src="<%= @hero.images.first.src.gsub(".png", "_large.png").gsub(".jpg", "_large.jpg").gsub(".jpeg", "_large.jpeg") %>" alt="<%= @hero.title %>" class="product"></a>
		<% end %>
		
		<figcaption>
			<hgroup>
				<h1><a href="/store/<%= @hero.id %>"><%= @hero.title %></a></h1>
				<h2><%= @hero.product_type %></h2>
				<h2 class="price">$<%= @hero.price_range %></h2>
			</hgroup>
			<a href="/store/<%= @hero.id %>" class="button">Look</a>
			<%= simple_format(truncate(strip_tags(@hero.body_html), :length => 345, :separator => " ")) %>
		</figcaption>
		<% unless @hero.vendor.blank? %>
			<% @maker = Maker.get_related_maker(@hero.vendor).first %>
			<% unless @maker.blank? %>
				<img src="/assets/badge_maker_small.png" alt="Maker" class="badge">
			<% end %>
		<% end %>
	</figure>
	
	<aside>
		<h2>Featured Products</h2>
		<% unless @featured.blank? %>
		<ul class="productList">
			<% @featured.each do |feature| %>
			<li>
				<a href="/store/<%= feature.id %>">
					<% if feature.images.blank? %>
						<img src="/assets/placeholder_store_thumbnail.jpg" alt="<%= feature.title %>" class="thumb store">
					<% else %>
						<img src="<%= feature.images.first.src.gsub(".png", "_compact.png").gsub(".jpg", "_compact.jpg").gsub(".jpeg", "_compact.jpeg") %>" alt="<%= feature.title %>" class="thumb store">
					<% end %>
					<h3><%= feature.title %></h3>
					<h4 class="price">$<%= feature.price_range %></h4>
				</a>
				<a href="/store/<%= feature.id %>" class="button">Look</a>
				<% unless feature.vendor.blank? %>
					<% @maker = Maker.get_related_maker(feature.vendor).first %>
					<% unless @maker.blank? %>
						<img src="/assets/badge_maker_small.png" alt="Maker" class="badge">
					<% end %>
				<% end %>
			</li>
			<% @flag = true %>
			<% end %>
		</ul>
		<% end %>
	</aside>
	<% end %>
</section><!-- end hero -->

<section id="products">
	<% unless @products.blank? %>
	<nav id="productNavigation">
		<ul>
			<li><h2>Category</h2></li>
			<li><a href="/store" data-filter="*">All</a></li>
			<% @categories.each do |category| %>
			<li><a href="/store" rel="<%= category.downcase.gsub(" ", "-") %>" data-filter=".<%= category.downcase.gsub(" ", "-") %>"><%= category %></a></li>
			<% end %>
		</ul>
		
		<ul>
			<li><h2>Tags</h2></li>
			<li><a href="/store/product.html" data-filter="*">All</a></li>
			<% @tags.each do |tag| %>
			<li><a href="/store" rel="<%= tag.downcase %>" data-filter=".<%= tag.downcase.gsub(" ", "-") %>"><%= tag %></a></li>
			<% end %>
		</ul>
	</nav>
	
	<h2>All</h2>
	
	<ul id="productGallery" class="productList">
		<% @products.each do |product| %>
		<li class="<% unless product.product_type.blank? %><%= product.product_type.downcase.gsub(" ", "-") %><% end %> <% unless product.tags.blank? %><%= product.tags.downcase.gsub(", ", ",").gsub(" ", "-").gsub(",", " ") %><% end %>">
			<a href="/store/<%= product.id %>">
				<% if product.images.blank? %>
					<img src="/assets/placeholder_store_thumbnail.jpg" alt="<%= product.title %>" class="thumb store">
				<% else %>
					<img src="<%= product.images.first.src.gsub(".png", "_compact.png").gsub(".jpg", "_compact.jpg").gsub(".jpeg", "_compact.jpeg") %>" alt="<%= product.title %>" class="thumb store">
				<% end %>
				<h3><%= product.title %></h3>
				<h4 class="price">$<%= product.price_range %></h4>
			</a>
			<a href="/store/<%= product.id %>" class="button">Look</a>
			<% unless product.vendor.blank? %>
				<% unless product.vendor == "Korduroy.tv" %>
					<img src="/assets/badge_maker_small.png" alt="Maker" class="badge">
				<% end %>
			<% end %>
		</li>
		<% end %>
	</ul>
	
	<%# paginate @products %>
	<% end %>
</section>

app/views/stores/index.html.haml
- title "Store"
- description "The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers."
%section#hero.product
  %header#contentHeader
    %h1 Store
    %nav.sectionNavigation
      %ul
        %li
          %em Yo!
          All prices include shipping!
  - if @products.blank?
    %h2 There are no products available.
  - else
    %figure
      - if @hero.images.blank?
        %a.featured{:href => "/store/#{@hero.id}"}
          %img.product{:alt => @hero.title, :src => "/assets/placeholder_store_large.jpg"}/
      - else
        %a.featured{:href => "/store/#{@hero.id}"}
          %img.product{:alt => @hero.title, :src => @hero.images.first.src.gsub(".png", "_large.png").gsub(".jpg", "_large.jpg").gsub(".jpeg", "_large.jpeg")}/
      %figcaption
        %hgroup
          %h1
            %a{:href => "/store/#{@hero.id}"}= @hero.title
          %h2= @hero.product_type
          %h2.price
            $#{@hero.price_range}
        %a.button{:href => "/store/#{@hero.id}"} Look
        = simple_format(truncate(strip_tags(@hero.body_html), :length => 345, :separator => " "))
      - unless @hero.vendor.blank?
        - @maker = Maker.get_related_maker(@hero.vendor).first
        - unless @maker.blank?
          %img.badge{:alt => "Maker", :src => "/assets/badge_maker_small.png"}/
    %aside
      %h2 Featured Products
      - unless @featured.blank?
        %ul.productList
          - @featured.each do |feature|
            %li
              %a{:href => "/store/#{feature.id}"}
                - if feature.images.blank?
                  %img.thumb.store{:alt => feature.title, :src => "/assets/placeholder_store_thumbnail.jpg"}/
                - else
                  %img.thumb.store{:alt => feature.title, :src => feature.images.first.src.gsub(".png", "_compact.png").gsub(".jpg", "_compact.jpg").gsub(".jpeg", "_compact.jpeg")}/
              %h3= feature.title
              %h4.price
                $#{feature.price_range}
              %a.button{:href => "/store/#{feature.id}"} Look
              - unless feature.vendor.blank?
                - @maker = Maker.get_related_maker(feature.vendor).first
                - unless @maker.blank?
                  %img.badge{:alt => "Maker", :src => "/assets/badge_maker_small.png"}/
            - @flag = true
/ end hero
%section#products
  - unless @products.blank?
    %nav#productNavigation
      %ul
        %li
          %h2 Category
        %li
          %a{"data-filter" => "*", :href => "/store"} All
        - @categories.each do |category|
          %li
            %a{"data-filter" => ".#{category.downcase.gsub(" ", "-")}", :href => "/store", :rel => category.downcase.gsub(" ", "-")}= category
      %ul
        %li
          %h2 Tags
        %li
          %a{"data-filter" => "*", :href => "/store/product.html"} All
        - @tags.each do |tag|
          %li
            %a{"data-filter" => ".#{tag.downcase.gsub(" ", "-")}", :href => "/store", :rel => tag.downcase}= tag
    %h2 All
    %ul#productGallery.productList
      - @products.each do |product|
        %li{:class => "<haml:silent> unless product.product_type.blank? </haml:silent><haml:block>#{product.product_type.downcase.gsub(" ", "-")}</haml:block> <haml:silent> unless product.tags.blank? </haml:silent><haml:block>#{product.tags.downcase.gsub(", ", ",").gsub(" ", "-").gsub(",", " ")}</haml:block>"}
          %a{:href => "/store/#{product.id}"}
            - if product.images.blank?
              %img.thumb.store{:alt => product.title, :src => "/assets/placeholder_store_thumbnail.jpg"}/
            - else
              %img.thumb.store{:alt => product.title, :src => product.images.first.src.gsub(".png", "_compact.png").gsub(".jpg", "_compact.jpg").gsub(".jpeg", "_compact.jpeg")}/
          %h3= product.title
          %h4.price
            $#{product.price_range}
          %a.button{:href => "/store/#{product.id}"} Look
          - unless product.vendor.blank?
            - unless product.vendor == "Korduroy.tv"
              %img.badge{:alt => "Maker", :src => "/assets/badge_maker_small.png"}/
