app/views/maker_contacts/new.html.haml
- title "Contact #{@maker.name}"
- description "#{truncate_html strip_tags(@maker.bio), :length => 250}"
= render "makers_header"
#makerContact
  %h1
    Contact #{@maker.name}
  - if user_signed_in?
    = form_for(@maker_contact, :url => { :action => "create" }) do |f|
      - if @maker_contact.errors.any?
        #error_explanation
          %h2
            = pluralize(@maker_contact.errors.count, "error")
            prohibited this maker_contact from being saved:
          %ul
            - @maker_contact.errors.full_messages.each do |msg|
              %li= msg
      %fieldset.adminForm
        = f.hidden_field :name, :value => current_user.name
        = f.hidden_field :email, :value => current_user.email
        .field
          = f.label :message, "Message from: " + current_user.name
          = f.text_area :message, :rows => 15
        .actions
          = f.submit "Send"
  - else
    %h3
      = link_to "Sign In", new_user_session_path(), :class => "button sign-in"
      or #{link_to "Sign Up", new_user_registration_path(), :class => "button sign-up"} to contact #{@maker.user.first_name}
= render "makers_footer"

app/views/maker_contacts/new.html.erb
<%- title "Contact #{@maker.name}" %>
<%- description "#{truncate_html strip_tags(@maker.bio), :length => 250}" %>

<%= render "makers_header" %>
	
	<div id="makerContact">
		<h1>Contact <%= @maker.name %></h1>
		
		<% if user_signed_in? %>
		
			<%= form_for(@maker_contact, :url => { :action => "create" }) do |f| %>
				<% if @maker_contact.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@maker_contact.errors.count, "error") %> prohibited this maker_contact from being saved:</h2>
						<ul>
							<% @maker_contact.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			
			
				<fieldset class="adminForm">
					<%= f.hidden_field :name, :value => current_user.name %>
					<%= f.hidden_field :email, :value => current_user.email %>
					<div class="field">
						<%= f.label :message, "Message from: " + current_user.name %> <%= f.text_area :message, :rows => 15 %>
					</div>
					<div class="actions">
						<%= f.submit "Send" %>
					</div>
				</fieldset>
				
			<% end %>
		<% else %>
			<h3><%= link_to "Sign In", new_user_session_path(), :class => "button sign-in" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button sign-up" %> to contact <%= @maker.user.first_name %></a></h3>
		<% end %>
	</div>
	
<%= render "makers_footer" %>
