app/views/makers_admin/stores/order.html.erb
<%= render "makers_header" %>

	<div id="makerStore" class="orderDetail">
	<% if @order.blank? %>
		<h1>Orders</h1>
		<p>There was an error locating this order.</p>
	<% else %>
		<h1>Order <%= @order.order_name %></h1>
		<p id="return-button"><a href="/makers_admin/stores/orders" class="button">View all orders</a></p>
		
		<div id="customerInfo">
			<h2>Customer Shipping Address</h2>
			<address>
				<h3><%= @order.customer_shipping_name %></h3>
				<%= @order.customer_shipping_address1 %><br>
				<%= suite = (@order.customer_shipping_address2.blank?) ? "" : @order.customer_shipping_address2 + "<br>"  %>
				<%= @order.customer_shipping_city %>, <%= @order.customer_shipping_province %> <%= @order.customer_shipping_zip %><br>
				<%= @order.customer_shipping_country %><br>
				<%= link_to @order.customer_email, "mailto:" + @order.customer_email.to_s %><br>
				<%= @order.customer_shipping_phone %>
			</address>
		
			<table id="orderStats" cellspacing="0">
				<thead>
					<tr>
						<th colspan="2">Order Stats:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="label">Order Number:</td>
						<td><%= @order.order_name %></td>
					</tr>
					<tr>
						<td class="label">Order Date:</td>
						<td><%= l @order.order_date, :format => :poll %></td>
					</tr>
					<tr>
						<td class="label">Financial Status:</td>
						<td><span class="<%= @order.order_financial_status %>"><%= @order.order_financial_status %></span></td>
					</tr>
					<tr>
						<td class="label">Fulfillment Status:</td>
						<td><%= status = (@order.order_fulfillment_status.blank?) ? "not fulfilled" : @order.order_fulfillment_status %></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div id="orderInfo">
			<h2>Order Information</h2>
			<% unless @items.blank? %>
			<%
				@open_items = false
				@open_count = 0
				@items.each do |item|
					if item.item_fulfillment_status.blank?
						@open_items = true
						@open_count = @open_count + 1
					end
				end
			%>
			<p>You need to ship <strong><%= @open_count %></strong> of the <strong><%= pluralize(@items.size, 'item') %></strong> in this order.</p>
			
			<form id="fulfillmentForm" method="post" action="/orders/fulfill" accept-charset="UTF-8" enctype="multipart/form-data">
				<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" id="ktv_order_id" name="ktv_order_id" value="<%= @order.id %>">
				<input type="hidden" id="order_id" name="order_id" value="<%= @order.order_id %>">
				<table id="fulfillmentTable" cellspacing="0">
					<thead>
						<tr>
							<th></th>
							<th colspan="2">Product</th>
							<th class="order-qty">Qty</th>
							<th class="order-price">Price</th>
							<th class="order-status">Status</th>
						</tr>
					</thead>
					<% if @open_items %>
					<tfoot>
						<tr>
							<td><input type="checkbox" id="checkAll"></td>
							<td><label for="checkAll">Fulfill items</label></td>
							<td colspan="3"><input type="text" placeholder="Tracking #" id="tracking_number" name="tracking_number" size="60"></td>
							<td class="order-status"><input type="submit" value="Fulfill"></td>
						</tr>
					</tfoot>
					<% end %>
					<tbody>
						<% @items.each do |item| %>
							<% product = ShopifyAPI::Product.find(item.item_product_id) %>
							<tr class="<%= status = (item.item_fulfillment_status.blank?) ? "open" : item.item_fulfillment_status.downcase %>">
								<td>
									<% if item.item_fulfillment_status.blank? %>
									<input type="checkbox" id="fulfill_<%= item.item_variant_id %>" name="line_items[]" value="<%= item.item_id %>">
									<% else %>
									<img src="/assets/icon_shipped.png" alt="Shipped">
									<% end %>
								</td>
								<td>
									<% if product.images.blank? %>
									<img src="/assets/placeholder_store_thumbnail.jpg" alt="<%= item.item_name %>">
									<% else %>
									<img src="<%= product.images.first.src.gsub(".png", "_compact.jpg").gsub(".jpeg", "_compact.jpg").gsub(".jpg", "_compact.jpg") %>" alt="" class="productImg">
									<% end %>
								</td>
								<td class="order-product"><%= item.item_name %></td>
								<td class="order-qty"><%= item.item_qty %></td>
								<td class="order-price">$<%= item.item_price %></td>
								<td class="order-status"><span><%= status = (item.item_fulfillment_status.blank?) ? "open" : item.item_fulfillment_status %></span></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</form>
			<% if @open_items %>
				<p class="note">Check the box next to each item included in the shipment, enter a tracking number and click the "FULFILL" button.</p>
			<% end %>
			<% end %>
			
			<% unless @order.order_note.blank? %>
			<h2>Customer Notes:</h2>
			<%= simple_format(sanitize(@order.order_note)) %>
			<% end %>
		<% end %>
		</div>
	</div>

<%= render "makers_footer" %>

app/views/makers_admin/stores/order.html.haml
= render "makers_header"
#makerStore.orderDetail
  - if @order.blank?
    %h1 Orders
    %p There was an error locating this order.
  - else
    %h1
      Order #{@order.order_name}
    %p#return-button
      %a.button{:href => "/makers_admin/stores/orders"} View all orders
    #customerInfo
      %h2 Customer Shipping Address
      %address
      %h3= @order.customer_shipping_name
      = @order.customer_shipping_address1
      %br/
      = suite = (@order.customer_shipping_address2.blank?) ? "" : @order.customer_shipping_address2 + "<br>"
      = @order.customer_shipping_city
      , #{@order.customer_shipping_province} #{@order.customer_shipping_zip}
      %br/
      = @order.customer_shipping_country
      %br/
      = link_to @order.customer_email, "mailto:" + @order.customer_email.to_s
      %br/
      = @order.customer_shipping_phone
      %table#orderStats{:cellspacing => "0"}
        %thead
          %tr
            %th{:colspan => "2"} Order Stats:
        %tbody
          %tr
            %td.label Order Number:
            %td= @order.order_name
          %tr
            %td.label Order Date:
            %td= l @order.order_date, :format => :poll
          %tr
            %td.label Financial Status:
            %td
              %span{:class => @order.order_financial_status}= @order.order_financial_status
          %tr
            %td.label Fulfillment Status:
            %td= status = (@order.order_fulfillment_status.blank?) ? "not fulfilled" : @order.order_fulfillment_status
    #orderInfo
      %h2 Order Information
      - unless @items.blank?
        - @open_items = false
        - @open_count = 0
        - @items.each do |item|
        - if item.item_fulfillment_status.blank?
        - @open_items = true
        - @open_count = @open_count + 1
        - end
        - end
        %p
          You need to ship
          %strong= @open_count
          of the
          %strong= pluralize(@items.size, 'item')
          in this order.
        %form#fulfillmentForm{"accept-charset" => "UTF-8", :action => "/orders/fulfill", :enctype => "multipart/form-data", :method => "post"}
          %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
          %input#ktv_order_id{:name => "ktv_order_id", :type => "hidden", :value => @order.id}/
          %input#order_id{:name => "order_id", :type => "hidden", :value => @order.order_id}/
          %table#fulfillmentTable{:cellspacing => "0"}
            %thead
              %tr
                %th
                %th{:colspan => "2"} Product
                %th.order-qty Qty
                %th.order-price Price
                %th.order-status Status
            - if @open_items
              %tfoot
                %tr
                  %td
                    %input#checkAll{:type => "checkbox"}/
                  %td
                    %label{:for => "checkAll"} Fulfill items
                  %td{:colspan => "3"}
                    %input#tracking_number{:name => "tracking_number", :placeholder => "Tracking #", :size => "60", :type => "text"}/
                  %td.order-status
                    %input{:type => "submit", :value => "Fulfill"}/
            %tbody
              - @items.each do |item|
                - product = ShopifyAPI::Product.find(item.item_product_id)
                %tr{:class => status = (item.item_fulfillment_status.blank?) ? "open" : item.item_fulfillment_status.downcase}
                  %td
                    - if item.item_fulfillment_status.blank?
                      %input{:id => "fulfill_#{item.item_variant_id}", :name => "line_items[]", :type => "checkbox", :value => item.item_id}/
                    - else
                      %img{:alt => "Shipped", :src => "/assets/icon_shipped.png"}/
                  %td
                    - if product.images.blank?
                      %img{:alt => item.item_name, :src => "/assets/placeholder_store_thumbnail.jpg"}/
                    - else
                      %img.productImg{:alt => "", :src => product.images.first.src.gsub(".png", "_compact.jpg").gsub(".jpeg", "_compact.jpg").gsub(".jpg", "_compact.jpg")}/
                  %td.order-product= item.item_name
                  %td.order-qty= item.item_qty
                  %td.order-price
                    $#{item.item_price}
                  %td.order-status
                    %span= status = (item.item_fulfillment_status.blank?) ? "open" : item.item_fulfillment_status
        - if @open_items
          %p.note Check the box next to each item included in the shipment, enter a tracking number and click the "FULFILL" button.
      - unless @order.order_note.blank?
        %h2 Customer Notes:
        = simple_format(sanitize(@order.order_note))
= render "makers_footer"
