app/views/pages/projects.html.erb
<%- title "Projects" %>
<%- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful." %>

<section id="hero" class="video">
	<header id="contentHeader">
		<h1>About</h1>
		<nav class="sectionNavigation">
			<ul>
				<li><a href="/about">Crew</a></li>
				<li class="active"><a href="/about/projects">Projects</a></li>
				<li><a href="/about/big-shaka-club">Big Shaka Club</a></li>
			</ul>
		</nav>
	</header>
</section><!-- end hero -->

<section id="projects">
	<h1>Projects</h1>
	<% if @projects.blank? %>
		<h2>No projects were found</h2>
	<% else %>
		<% @projects.each do |project| %>
		<article>
			<p class="date">
				<% if !project.end_date.blank? %>
				<span class="month"><%= l project.start_date, :format => :post_month_full %></span> <span class="day"><%= l project.start_date, :format => :post_day %>-<%= l project.end_date, :format => :post_day %></span> <span class="year"><%= l project.start_date, :format => :post_year %></span>
				<% else %>
				<span class="month"><%= l project.start_date, :format => :post_month_full %></span> <span class="day"><%= l project.start_date, :format => :post_day %></span> <span class="year"><%= l project.start_date, :format => :post_year %></span>
				<% end %>
			</p>
			<h2><%= project.title %></h2>
			<%= sanitize(project.body) %>
		</article>
		<% end %>
	<% end %>
</section>

app/views/pages/projects.html.haml
- title "Projects"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#hero.video
  %header#contentHeader
    %h1 About
    %nav.sectionNavigation
      %ul
        %li
          %a{:href => "/about"} Crew
        %li.active
          %a{:href => "/about/projects"} Projects
        %li
          %a{:href => "/about/big-shaka-club"} Big Shaka Club
/ end hero
%section#projects
  %h1 Projects
  - if @projects.blank?
    %h2 No projects were found
  - else
    - @projects.each do |project|
      %article
        %p.date
          - if !project.end_date.blank?
            %span.month= l project.start_date, :format => :post_month_full
            %span.day
              = l project.start_date, :format => :post_day
              \-#{l project.end_date, :format => :post_day}
            %span.year= l project.start_date, :format => :post_year
          - else
            %span.month= l project.start_date, :format => :post_month_full
            %span.day= l project.start_date, :format => :post_day
            %span.year= l project.start_date, :format => :post_year
        %h2= project.title
        = sanitize(project.body)
