app/views/polls/_header.html.haml
%header#contentHeader
  %h1 The List
  %nav.sectionNavigation
    %ul
      %li
        %a{:href => "/the-list"} All
      - @categories.each do |category|
        <li
        - if category.slug == params[:slug]
          class="active"
        >
        %a{:href => "/the-list/#{category.slug}"}= category.name
  %p#info-button
    %a{:href => "#info-text"}
      List
      %em (?)
#info-text
  %p
    A collection of the top 10 responses to a question we ask every Monday on our blog and the
    = succeed "," do
      %a.externalLink{:href => "http://www.facebook.com/KorduroyTV", :title => "Incompatible Browser | Facebook"} Korduroy Facebook Page
    The List is a weekly feature chronicling the passions and ideas of our culture. Once the list has been selected and added to the site, you can rearrange the choices by dragging the icons to the right of each list item. Clicking on the name will take you to a place where you can learn more about that person/place/thing. Is someone or something not on the list that should be?? Just comment below to submit suggestions. If we get 10 or more of the same suggestion, we'll drop the lowest on the list and replace it with that suggestion. Happy listing...
  %p#info-close
    %a{:href => "#info-button"} x

app/views/polls/_header.html.erb
<header id="contentHeader">
	<h1>The List</h1>
	<nav class="sectionNavigation">
		<ul>
			<li><a href="/the-list">All</a></li>
			<% @categories.each do |category| %>
			<li<% if category.slug == params[:slug] %> class="active"<% end %>><a href="/the-list/<%= category.slug %>"><%= category.name %></a></li>
			<% end %>
		</ul>
	</nav>
	<p id="info-button"><a href="#info-text">List <em>(?)</em></a></p>
</header>

<div id="info-text">
	<p>A collection of the top 10 responses to a question we ask every Monday on our blog and the <a href="http://www.facebook.com/KorduroyTV" title="Incompatible Browser | Facebook" class="externalLink">Korduroy Facebook Page</a>, The List is a weekly feature chronicling the passions and ideas of our culture. Once the list has been selected and added to the site, you can rearrange the choices by dragging the icons to the right of each list item. Clicking on the name will take you to a place where you can learn more about that person/place/thing. Is someone or something not on the list that should be?? Just comment below to submit suggestions. If we get 10 or more of the same suggestion, we'll drop the lowest on the list and replace it with that suggestion. Happy listing...</p>
	<p id="info-close"><a href="#info-button">x</a></p>
</div>
