app/views/devise/sessions/new.html.haml
#signIn
  %header#modalHeader
    %h1 Sign in
    - if devise_mapping.registerable? && controller_name != 'registrations'
      %p
        Not a member yet? #{link_to "Sign up", new_registration_path(resource_name)}
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    #status-messages
      %p.notice= notice
      %p.alert= alert
    %fieldset#regForm
      .field.required
        = f.label :email, "Email Address"
        = f.email_field :email
      .field.required
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .field.checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Sign in"
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name)
          %br/

app/views/devise/sessions/new.html.erb
<div id="signIn">
	<header id="modalHeader">
		<h1>Sign in</h1>
		<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		  <p>Not a member yet? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
		<% end -%>
	</header>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		
		<%= devise_error_messages! %>
		
		<div id="status-messages">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
		
		<fieldset id="regForm">
			<div class="field required">
				<%= f.label :email, "Email Address" %> <%= f.email_field :email %>
			</div>
		
			<div class="field required">
				<%= f.label :password %> <%= f.password_field :password %>
			</div>
		
			<% if devise_mapping.rememberable? -%>
				<div class="field checkbox">
					<%= f.check_box :remember_me %> <%= f.label :remember_me %>
				</div>
			<% end -%>
		
			<div class="actions">
				<%= f.submit "Sign in" %>
				
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end -%>
			</div>
		</fieldset>
	<% end %>
</div>
