app/views/makers_admin/maker_videos/_form.html.erb
<%= form_for([:makers_admin, @maker_video]) do |f| %>
  <% if @maker_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maker_video.errors.count, "error") %> prohibited this makers_admin_maker_video from being saved:</h2>

      <ul>
      <% @maker_video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="adminForm">
		
		<div class="field required">
			<%= f.label :title %> <%= f.text_field :title %>
		</div>
		
		<div class="field required columns2">
			<div>
				<%= f.label :vimeo, "Vimeo ID" %> <%= f.text_field :vimeo %>
			</div>
			
			<div>
				<%= f.label :youtube, "YouTube ID" %> <%= f.text_field :youtube %>
			</div>
		</div>
		
		<div class="field columns2">
			<div>
				<%= f.label :thumbnail %>
				<%= f.text_field :thumbnail %>
			</div>
			
			<div>
				<% if !@maker_video.thumbnail.blank? %>
				<img src="<%= @maker_video.thumbnail %>" class="thumb video">
				<% end %>
			</div>
		</div>
		
		<div class="field">
			<%= f.label :description %> <%= f.text_area :description, :rows => 4 %>
		</div>
		
		<div class="field checkbox">
			<%= f.check_box :visible %> <%= f.label :visible %>
		</div>
		
		<div class="field checkbox">
			<%= f.check_box :comments_closed %> <%= f.label :comments_closed %>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>

app/views/makers_admin/maker_videos/_form.html.haml
= form_for([:makers_admin, @maker_video]) do |f|
  - if @maker_video.errors.any?
    #error_explanation
      %h2
        = pluralize(@maker_video.errors.count, "error")
        prohibited this makers_admin_maker_video from being saved:
      %ul
        - @maker_video.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.adminForm
    .field.required
      = f.label :title
      = f.text_field :title
    .field.required.columns2
      %div
        = f.label :vimeo, "Vimeo ID"
        = f.text_field :vimeo
      %div
        = f.label :youtube, "YouTube ID"
        = f.text_field :youtube
    .field.columns2
      %div
        = f.label :thumbnail
        = f.text_field :thumbnail
      %div
        - if !@maker_video.thumbnail.blank?
          %img.thumb.video{:src => @maker_video.thumbnail}/
    .field
      = f.label :description
      = f.text_area :description, :rows => 4
    .field.checkbox
      = f.check_box :visible
      = f.label :visible
    .field.checkbox
      = f.check_box :comments_closed
      = f.label :comments_closed
    .actions
      = f.submit
