app/views/makers_admin/images/index.html.haml
%ul.imagesList
  - @blog.images.each do |image|
    %li
      %img.inlinePostImage{"data-blogid" => "", "data-imageid" => "", :src => image.image.url}/
      %a.button.delete{:href => "/makers_admin/blogs/#{@blog.id}/images/#{image.id}"} Delete

app/views/makers_admin/images/index.html.erb
<ul class="imagesList">
	<% @blog.images.each do |image| %>
	<li>
		<img src="<%= image.image.url %>" class="inlinePostImage" data-blogid="" data-imageid="">
		<a href="/makers_admin/blogs/<%= @blog.id %>/images/<%= image.id %>" class="button delete">Delete</a>
	</li>
	<% end %>
</ul>
